.add{
    width: 24px;
    height: 24px;
    color: $color-green;
}

.admin a:hover{
    color: $color-green;
}

.admin-table td {
    padding-top: 19px !important;
    padding-bottom: 17px !important;
}

.btn-change-page
{

    button{
        color: $color-main;
        border-color: $color-green;
    }

    button:hover{
        background-color: $color-sec;
    }

    .btn-clicked{
        color: #fff;
        background-color: $color-green;
    }
}