
.assignment a:hover{
    color: $color-green;
}

.test{
    height: 100px;
    background-color: gray;
}

.assignment-list{
    width: 320px;
    border: 1px solid #000;
    height: 100px;
}

.assignment-detail{
    width: 584px;
    border: 1px solid #000;
    height: 100px;
}