.icon{
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url("../images/andychen.jpeg");
    background-position:  center;
    background-size: cover;
}