
.pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url("../images/andychen.jpeg");
    background-position:  center;
    background-size: cover;
}

.sidebar-menu li:hover{
    background-color: $color-sec;
}
.sidebar-menu a:hover {
    color: $color-main;
}

.menu-clicked{
    border-left: 4px solid $color-green;
    padding-left: $base-px * 3.5 !important;

    a{
        color: $color-green ;
    }
}

